<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<!--<xacro:property name="pi" value="3.1415926535898" />-->
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="robot_body.xacro" />
  <xacro:include filename="robot_head.xacro" />
  <xacro:include filename="robot_rightarm.xacro" />
  <xacro:include filename="robot_leftarm.xacro" />
  <xacro:include filename="robot_rightleg.xacro" />
  <xacro:include filename="robot_leftleg.xacro" />

</robot>
